<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PigisEntities" connectionString="metadata=res://*/PigisModel.csdl|res://*/PigisModel.ssdl|res://*/PigisModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.201.10.110\final;initial catalog=LogHealthnotion;persist security info=True;user id=PartonetTehran;password=PartonetTehran123-+()POLum650;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>