<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\Nlog\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="c:\Nlog\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="c:\Nlog\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target name="database" xsi:type="Database">

      <connectionString>data source=10.201.10.110\final;initial catalog=LogHealthnotion;user id=PartonetTehran;password=PartonetTehran123-+()POLum650;multipleactiveresultsets=True;application name=EntityFramework</connectionString>

      <commandText>
        INSERT INTO [dbo].[ApplicationLogs]
        ([Date],[Level],[Message],[UserName],
        [ServerName],[IP],[Controller],
        [Action],[Host],[Url],[UserAuthenticated],
        [UserAgent],[ThreadName],[Logger],
        [Callsite],[Exception])
        VALUES
        (@date,@level,@message,@username,
        @servername,@ip,@controller,
        @action,@host,@url,@userAuthenticated,
        @userAgent,@threadName,@logger,
        @callsite,@exception)
      </commandText>
      <parameter name="@date" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@username" layout="${aspnet-user-identity}" />
      <parameter name="@servername" layout="${machinename}" />
      <parameter name="@ip" layout="${aspnet-request-ip}" />
      <parameter name="@controller" layout="${aspnet-mvc-controller}" />
      <parameter name="@action" layout="${aspnet-mvc-action}" />
      <parameter name="@host" layout="${aspnet-request-host}" />
      <parameter name="@url" layout="${aspnet-request-url}" />
      <parameter name="@userAuthenticated" layout="${aspnet-user-isauthenticated}" />
      <parameter name="@userAgent" layout="${aspnet-request-useragent}" />
      <parameter name="@threadName" layout="${threadname}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@callsiteLineNumber" layout="${callsite-linenumber}" />
      <parameter name="@exception" layout="${exception:format=tostring}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="Tosinso.*" minlevel="Trace" writeTo="database" />
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>